:root {
  font-family: Inter, sans-serif;

  /* --main-color: #3b5998;
  --main-color-2: #4267b3;
  --blue: #8b9dc3;

  --text-color: #616771;
  --text-color-2: #90949c;

  --light-blue: #dfe3ee;
  --text-color-3: #e9ebee;
  --light-gray: #f7f7f7;

  --white: #fff;
  --black: #000; */
}

* {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
